.student-section {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


.student-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    padding: 8px;
}

.student-box:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.header-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.header-buttons {
    display: flex;
    gap: 30px;
}

.header-buttons button {
    padding: 4px 8px;
    font-size: medium;
    border-radius: 5px;
    border: solid black 1px;
    background-color: #ddd;
}